.navbar{
    margin:0;
    height: 17vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-left{
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 3.6rem;
    align-items: center;
}
.navbar-left img{
    height:10rem;
}
.navbar-right ul{
    list-style: none;
    display: flex;
    justify-content: center;
    color:#FFF;
    font-size: 1.6rem;
    gap: 3rem;
    margin-right: 2rem;
}